
/* Resets
--------------------------------------------------------------------------------*/

ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input {
  margin: 0;
  padding: 0;
}

a img{
border: 0px;
}

a {
color: #8eaf66;
text-decoration: none;
}

a:hover {
color: #6e9144;
text-decoration:none;
}


/* General Styling and Structure
--------------------------------------------------------------------------------*/


body {
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size:14px;
  color:#666666;
  margin:0;
border-top:3px solid #252525;
background:#323232;
}

h2 {
  font-size: 1.7em;
  margin: 0;
  padding: .3em 0;
  line-height: 1.5;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
font-weight:normal;
text-transform:capitalize;
}

#content h2{
 color: #4a4a4a;
}

p{
 font-size: 1em;
 line-height:1.5;
 margin: 0;
 padding: .5em 0;
}

#content p {
 color: #666666;
}

p a {
color:#000;
}

p a:hover {
color:#888;
}

#content abbr {
 border-bottom: 1px dotted #8f8f8f;
}

.container{
width:960px;
margin:0 auto;
}
blockquote {
font-style:italic;
border-left:4px solid #8eaf66;
margin:10px 0 10px 0;
padding-left:20px;
line-height:1.5;
color:#999;
}

#icontent{
border:none !important;
}

#header-wrap,
#topnav-wrap,
#banner-wrap,
#main-wrap,
#footer-wrap{
width:100%;
min-width:960px;
}

#header-wrap{
background:#fff;
}
/* Header
--------------------------------------------------------------------------------*/

#header {
border-collapse: collapse;
border-spacing: 0;
width:100%;
height:120px;
margin:0;
}
#header table {
 border-collapse: collapse;
 border-spacing: 0;
}

#header td {
 vertical-align: middle;
 text-align: left;
}

#logo {
 padding:25px 0;
}
#logo, #logo a{
font-size: 30px;
color: #252525;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
line-height:1.1;
font-weight:bold;
}
#logo a:hover{
color:#252525;
text-decoration:none;
}

#header-right {
 padding: 5px 0 0 10px;
}

#header-right table {
 width: 1px;
 float:right;
}

#header-right td {
padding: 0;
text-align:right;
}

#header-right a {
  color: #7b7b7b;
}

#header-right a:hover {
  color: #4c4c4c;
}

/* TOP RIGHT: Phone Number
--------------------------------------------------------------------------------*/
#header-right .phone-number {
padding:0 0 7px;
}
#header-right .phone-number .wsite-text{
display:block;
white-space:nowrap;
color: #a7a7a8;
font-size: 14px;
font-weight:bold;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
margin:0;
text-decoration:none;
}

/* TOP RIGHT: Social Links
--------------------------------------------------------------------------------*/
#header-wrap .social{
clear:right;
float:right;
margin:7px 0;
}
#header-wrap .wsite-social{
  margin: 0;
}


/* Navigation
--------------------------------------------------------------------------------*/
#topnav-wrap table{
border-collapse: collapse;
border-spacing: 0;
width:100%;
}
#topnav-wrap{
border-top:1px solid #dedede;
box-sizing:border-box;
background:#fff url(border-bottom.png) left bottom repeat-x;
}
#topnav-wrap td{
  padding:0;
}
#topnav {
clear: both;
padding:0;
margin:0;
height:47px;
float:left;
overflow:hidden;
}
#topnav ul {
display: inline;
list-style: none;
float: left;
height:47px;
overflow:hidden;
}

#topnav ul li{
list-style: none;
float: left;
padding:0 15px 0 0;
list-style: none;
}
#topnav ul li a{
float:left;
  color: #5e5e5e;
font-size:14px;
  text-decoration: none;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
  padding:15px 10px 11px;
border:0;
box-sizing:border-box;
outline:0;
list-style-type:none;
margin-bottom:3px;
}
#icontent #topnav ul li a{
margin-bottom:0px;
}
#topnav li#active a,
#topnav a:hover{
color: #2e2e2e;
border-bottom:2px solid #87a95e;
}

/* main  */
#main-wrap{
background:#fff;
}

#subtitle{
font-size:20px;
text-align:center;
color:#6b6b6b;
line-height:32px;
padding:0 0 28px;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
}

#content {
min-height: 400px;
padding:50px 0;
}
#icontent #content{
padding-right:2px;
}
#banner-wrap{
background:#f3f3f3 url(banner-wrap-bg.png) center top repeat-x;
border-bottom:1px solid #d8d8d8;
padding:40px 0;
}
#banner{
overflow:hidden;
border-bottom:4px solid #87a95e;
margin:0;
}

/* PAGE TYPE: banner-tall
--------------------------------------------------------------------------------*/
.tall-header-page .wsite-header{
width:960px;
height:416px;
background:url(banner-tall.jpg) no-repeat;
}

/* PAGE TYPE: banner-short
--------------------------------------------------------------------------------*/
.short-header-page #banner-wrap{
background:#f3f3f3 url(banner-wrap-short.jpg) center top repeat-x;
padding:45px 0;
}
.short-header-page #subtitle{
display:none;
}
.short-header-page .wsite-header{
width:960px;
height:173px;
background:url(banner-short.jpg) no-repeat;
}
.short-header-page #wraper{
background:url(short-wrapper.png) center top no-repeat;
}
/* PAGE TYPE: no-header-banner
--------------------------------------------------------------------------------*/
.no-header-page #wraper{
background:url(no-header-wrapper.png) center top no-repeat;
}
.no-header-page #banner{
display:none;
}
.no-header-page #banner-wrap{
padding:20px 0 0;
}
.no-header-page #subtitle{
padding:0 0 20px;
}
.no-header-page #content{
padding-top:40px;
}


/* PAGE TYPE: banner-landing
--------------------------------------------------------------------------------*/
#banner-inner{
background:#fff;
border-left:1px solid #d7d7d7;
clear:both;
float:left;
width:960px;
}
#bannerleft{
float: right;
padding:0;
position:relative;
width:499px;
}
.landing-page .wsite-header{
width:499px;
height:416px;
background:url(banner-landing.jpg) no-repeat;
}
#bannerright{
float: left;
  height: 414px;
  padding: 0 25px;
  width: 411px;
border-top:1px solid #d7d7d7;
}

#bannerright h2{
color:#5e5e5e;
font-size:24px;
padding: 0px;
line-height: 24px;
text-transform:capitalize;
}
#bannerright p{
color:#5e5e5e;
font-size:14px;
padding: 25px 0px 30px 0px;
line-height: 140%;
margin:0;
}

#bannerright .wsite-button{
margin:0;
}

.landing-banner-outer {
display: table;
#position: relative;
overflow: hidden;
}

.landing-banner-mid {
#position: absolute;
#top: 50%;
display: table-cell;
vertical-align: middle;
}

.landing-banner-inner {
#position: relative;
#top: -50%;
}

/* PAGE TYPE: splash
--------------------------------------------------------------------------------*/

.splash-page #header{
width:532px;
}

.splash-page #banner{
 width:527px;
 height:161px;
 padding:6px 4px 4px 6px;
 background:url(banner-splash-bg.png) no-repeat;
}

.splash-page .wsite-header{
width:515px;
height:149px;
background:url(banner-splash.jpg) no-repeat;
}

.splash-page #content-container {
width:528px;
}

.splash-page #content{
width:528px;
}

.splash-page #footer{
width:524px;
}

/* Footer
--------------------------------------------------------------------------------*/
#footer-wrap{
background:#323232 url(footer-arrow.png) center top no-repeat;
padding:40px 0 50px;
}
#footer{
padding:0;
font-size:13px;
color:#9b9a9a;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
text-align:right;
position:relative;
}

#footer .wsite-form-container {margin-top:0 !important;}

#footer p{
color: #9b9a9a;
}

#footer a{
color: #bbb;
}

#footer blockquote {
border-left:4px solid #555;
color:#777;
}


#footer a:hover{
color: #87a95e;
text-decoration:none;
}
#footer h2{
font-size:14px;
border-bottom:1px solid #434343;
  margin: 0;
  padding: .6em 0;
  line-height: 1;
font-weight:bold;
color:#ffffff;
text-transform:uppercase;
}
#footer span{
vertical-align:middle;
}

#footer .wsite-multicol{
text-align:left !important;
}
#footer .wsite-form-field{
width:296px !important;
}
#footer .wsite-form-input-container .wsite-form-input{
width:286px !important;
}
#footer .wsite-form-input-container.wsite-form-left .wsite-form-input{
width:113px !important;
}
#footer .wsite-form-input-container.wsite-form-right .wsite-form-input{
width:152px !important;
}
#footer .wsite-form-field textarea{
width:288px !important;
overflow:auto;
}


/* Form Customization
--------------------------------------------------------------------------------*/

.wsite-form-label {
  display: inline-block;
  color: #666666;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding: 12px 0px 5px 0px;
  }

.form-radio-container {
  color: #666666;
  font-size: 1em;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
  }

.wsite-form-input, .wsite-search-element-input {
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
font-size:1em;
  color: #666666;
background:#fff url(field.png) repeat-x;
  border: 1px solid #d7d7d7;
padding:8px 4px 5px !important;
line-height:1;
  }

.form-select {
  color: #666666;
  border: 1px solid #d7d7d7;
font-size:1em;
background:#fff url(field.png) repeat-x;
font-family: 'Proxima Nova', 'Myriad Pro', Arial, Helvetica, sans-serif;
padding:3px 4px;
height:27px;
line-height:27px;
background:url#fff (field.png);
  }



/* Buttons
--------------------------------------------------------------------------------*/


.wsite-button {
color: #666666 !important;
font-family: Helvetica, Arial, sans-serif;
  height: 31px;
  display: inline-block;
  border: none;
  font-weight:normal;
font-size:15px;
  text-decoration: none;
  padding: 0px 10px;
background:#e5e5e5;
  }

.wsite-button:hover {
background:#ddd;
  }

.wsite-button:active {
background:#ccc;
  }


.wsite-button-inner {
  height: 31px;
  line-height: 31px;
  display: block;
  font-weight: bold;
  border: none;
  text-decoration: none;
  padding: 0;
background:#e5e5e6;
  }

.wsite-button:hover .wsite-button-inner {
background:none;
  }

.wsite-button:active .wsite-button-inner {
background:none;
  }


/* large */

.wsite-button-large {
  height: 35px;
background:#e5e5e5;
  padding: 0 45px;
font-size:15px !important;
  }

.wsite-button-large:hover {
background:#ddd;
  }

.wsite-button-large:active {
background:#ccc;
  }


.wsite-button-large .wsite-button-inner {
  height: 35px;
  line-height: 35px;
  padding: 0;
background:none;
  }

.wsite-button-large:hover .wsite-button-inner {
background:none;
  }

.wsite-button-large:active .wsite-button-inner {
background:none;
  }



/* highlight */

.wsite-button-large.wsite-button-highlight {
  background: #87a95e;
}

.wsite-button-large.wsite-button-highlight .wsite-button-inner {
background:none;
  }

.wsite-button-highlight {
  background: #87a95e;
color:#fff !important;
}
.wsite-button-highlight:hover{
  background: #82a44e;
}

.wsite-button-highlight .wsite-button-inner {
background:none;
  }
